{% load static %}
<html lang='en'>

<head>
  <title>Password Recovery!</title>
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login/main.css' %}">
</head>
<body>
<div class='wrapper'>
  <h1 class="reset">Password Recovery!</h1>
  <form  method='post' class='form_element'>
    {% csrf_token %}
    {{ form.email.label_tag }}<br>
    {{ form.email }}
    <div class='bottom'>
      <div  class='register'>Not a <a href="{% url 'register' %}">registered</a> member?</div>
      <button type='submit' class='btn'>Reset</button>
    </div>
  </form>
   <div class='errors'>
   </div><br>
    </div>
</body>

