{% load static %}
<html lang='en'>

<head>
  <title>Password Change </title>
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login/main.css' %}">
</head>
<body>
<div class='wrapper'>
  <h1 class='reset'>Password Change</h1>
  <form  method='post' class='form_element'>
    {% csrf_token %}
    {{ form.new_password1.label_tag }}<br>
    {{ form.new_password1 }}
    {{ form.new_password1.help_text }}
    {{ form.new_password2.label_tag }}<br>
    {{ form.new_password2 }}
   <div class='bottom'>
      <button type='submit' class='btn'>Change password!</button>
    </div>
  </form>
  {% if form.errors %}
        {% for field in form %}
              <ul class="errorlist">
            {% for error in field.errors %}
                  <li>{{ error }}</li>
            {% endfor %}
              </ul>
        {% endfor %}
        <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
 {% if error %}
   <div class='errors'>
    <span>{{ error }}</span>
   </div><br>
  {% endif %}<br>
</div>
</body>
</html>